
/* @import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap'); */

    /* @import url('boxicons/css/boxicons.min.css') */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'poppins',sans-serif;
}
:root{
    --bg-color:#081b29;
    --text-color:#ededed;
    --main-color:#00abf0;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);

}
/* .img{
    margin-right: 120%;
        border-top: 8px;
        border-radius:50%;
        padding-right:40px;
        height: 100vh;
} */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:transparent;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 100;
}
.logo {
    
        font-size: 2.5rem;
        color: var(--text-color);

        font-weight: 600;
}
.navbar a {
    font-size: 1.7rem;
    color:var(--text-color);

    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
        color:var(--main-color);
        
}
section{
    min-height: 100vh;  
    padding: 10rem 9% 2rem;
    height: 100vh;
    background: url('#') no-repeat;
    background-size:cover;
    background-position:center; 
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;

}

.home-content{
    max-width: 60rem;
}
.home-content h1 {
    font-size: 50px;
        font-weight: 500;
        color: var(--text-color);
        line-height: 1.2;

}

.home-content.text-animate{
    position: relative;
    width: 32.8rem ;

}
.home-content h3{
    font-size: 35px;
        font-weight: 700;
        color: #7610c5;
        -webkit-text-stroke: .7px var(--main-color);
}
.home-content p{
    font-size: 20px;
    margin: 20px 0 40px;
    color: var(--text-color);
}
.btn-box{
    position: relative;
     display:flex;
    justify-content:space-between;
    width: 34.5rem;
    height: 7rem;
}
.btn-box .btn{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 100%;
        background: var(--main-color);
        border: 2rem solid var(--main-color);
        border-radius: 8.8rem;
        font-size: 1.8rem;
        font-weight: 7rem;
        letter-spacing: .1rem;
        color: var(--text-color);
        z-index: 1;
        overflow: hidden;
        transition: .5s;

}
.btn-box a:hover{
    color:black
   }



.btn-box .btn:nth-child(2) {
    background: transparent;
    color:var(--text-color);
   }
.btn-box .btn:nth-child(2):hover{
    color:rgb(59, 19, 19)
   }

.btn-box .btn:nth-child(2)::before{
    background:var(--bg-color);
   }


.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background:var(--main-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before{
    width:100%
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 200px;
    
    display: flex;
    justify-content: space-between;

}

.home-sci  a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color:var(--text-color);
    text-decoration: none;
    z-index: 1  ;
    overflow: hidden;
    transition: .5s;

}
.home-sci a:hover{
    color:violet;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background:var(--bg-color);
    z-index:-1;
    transition:.5s;
}

.home-sci a::before{
    width: 100%;

}   

 
.about{
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem   ;
    background: var(--bg-color) ;
    padding-bottom: 6rem;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;

}
span{
    color:aquamarine;
}

.about-img{
    
    position:relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .about-img img{
        width: 90%;
        border-radius: 50%;
        border: .2rem solid var(--main-color);
        
    } 
    .about-img.circle-spin{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(0);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        
        border-left: .2rem solid var(--main-color);
        border-right: .2rem solid var(--main-color);
    }

    .about-content{
        text-align:center;

    }

    .about-content h3{
        font-size: 35px;
        font-weight: 700;
        color: #7610c5;
        -webkit-text-stroke: .7px var(--main-color);
    }
    .about-content p{
        font-size: 20px;
        margin: 20px 0 40px;
        color: var(--text-color);
        
    }
    .btn-box.btns{
        display: inline-block;
        width: 15rem;
         }

         .Education{
          display: flex;
          gap: 3rem;
          justify-content: center;
          align-items: center;
            flex-direction: column;
            min-height: auto;
            padding-bottom: .5rem;
         }

.Education-content{
    font-size: 25px;
    margin: 20px 0 40px;
    color: var(--text-color);
}
      .title{
        font-size: 30px;
      }   

.content h3{
    font-size: 20px;
    
}
.Education.Education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem ;
}

.Education-row.Education-column{
    flex: 1 1 40rem;

   
}

.Education-column.title{
    font-size: 2.5rem;
    margin: 0 0 2.5rem 2rem;
    

}
.Education-column.Education-box{
    border-left: .2rem solid var(--main-color);
}
.Education-box.Education-content{
    position: relative;
    padding-left: 2rem;
}

.Education-content.content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;

}
.Education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.Education-content .content .year i{
    padding-right: .5rem;
}
.Education-content .content h3{
    font-size: 2rem;
}

.Education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}


.skills{
    min-height: auto;
    padding-bottom: 10rem;
    background: var(--bg-color);
}
.skills.skills-row{
    display:flex;
    flex-wrap: wrap;
    gap:30rem;
    
}

.skills-row.skills-column{
    flex: 1 1 50rem;
    
}

.skills-column .title{  
    font-size: 55rem;
    

}

.skills-box.skills-content{
    position:relative;
    border: .2rem solid var(--main-color);
    border-radius:auto;
    padding: 1.5rem 2.5rem;
   

}
.skills-content .progrss{
    padding: 2rem 0;
}
.skills-content .progrss   h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;

}

.skills-content .progrss   h3 span{
    color: var(--text-color);
}

.skills-content .progrss .bar {
    height: auto;
    border-radius: auto;
    border: 2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0 ;
}

.skills-content .progrss .bar span{
    display: block;
    height: 100%;
    border-radius: auto;
    background: var(--main-color);

}

.skills-column:nth-child(1).skills-content .progrss:nth-child(1).bar span{
    width: 60%;
}
.skills-column:nth-child(1).skills-content .progrss:nth-child(2).bar span{
    width: 60%;
}
.skills-column:nth-child(1).skills-content .progrss:nth-child(3).bar span{
    width: 65%;
}
.skills-column:nth-child(1).skills-content .progrss:nth-child(4).bar span{
    width: 60%;
}


.contact{
    min-height: auto;
    
    padding-bottom: 7rem;

}
.contact form.input-box {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    display:inline-block;
    justify-content:space-evenly;

}
.contact form .input-box{
    position: relative; 
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact.input-box.input-field{
    position: relative;
    display: block;
    width: 10%;
    margin: .8rem 0 ;
    justify-content: space-evenly;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: auto;
    height: 100%;
    padding: 1.2rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: 1rem;
    border: .2rem solid var(--main-color);
    
}
.contact.btn-box.btns{
    height: auto;
    width: auto;
    color: #7610c5;
}
